/* ------ Google Fonts --------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Zeyada&display=swap');

/* ------ Colours --------*/
:root {
  /* CSS HEX -- from -- https://coolors.co/user/palettes -- */
  --tiffany-blue: #75ddddff;
  --non-photo-blue: #84c7d0ff;
  --Strong--cyan:#1abc9c;
  --cool-gray: #9297c4ff;
  --amethyst: #9368b7ff;
  --fandango: #aa3e98ff;
}
/*-------- General CSS ----------*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span{
  font-family: 'Dancing Script', sans-serif;

}

/*-------- NavbAR & Logo----------*/
.logo{

  font-size: 40px;
  font-family: 'Dancing Script', sans-serif;
  font-weight: bold;
  line-height: 80px;
  padding:0 100px;
}
.logo a{
  color:rgb(181, 49, 159);
  text-decoration: none;
}
.nav{
  height:100px;
  width: 100%;
}
.nav ul {
  float: right;
  margin-right: 20px;
}
.nav ul li{
  display: inline-block;
  margin: 0 6px;
  line-height: 80px;
}
.nav ul li a{
  font-family: 'Dancing Script', sans-serif;
  color:#9368b7ff;
  font-size: 23px;
  text-decoration: none;
  padding:7px 13px;
  border-radius: 3px;

}
nav ul a.active, a:hover{
  background-color:rgb(161, 223, 231);
  transition: 0.4s;
  border-radius: 3PX;

}

/*-------- General CSS ----------*/
