{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Add recipe post page -->
<div class="container col-lg-8 col-md-10">
    <h2>Share your <span>Recipe..</span></h2>
    {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    {% else %}
    <p>You need to sign in to share a recipe 
        <a href="{% url 'account_login' %}"><span>Sign In</span></a>
    </p> 
    {% endif %}
</div>
{% endblock content %}