{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>A'Bakes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/897448a459.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Nav Bar & Logo -->
    <header>
        <nav>
            <h2>Logo</h2>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}">Blog</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account_logout' %}">Log out</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="message-container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close">
                    </button>
                </div>
                {% endfor%}
            </div>
        </div>

    </div>
    <main>
    {% block content %}
    <!-- Page Content goes here -->
    {% endblock content%}    
    </main>
    <!-- Footer -->
    <footer>
        <h2>soical account</h2>
    </footer>
    <script src="{% static 'js/base.js %}"></script>
</body>
</html>