{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="blog-container col-11">
    <div class="card-body">
        <div class="row">
            {% for post in post_list %}
            <img class="card-img" src="{{ post.featured_image.url }}">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {{ post.title }} 
                </h3>
                <div class="card-body">
                    <p class="card-text font-weight-bold"> {{ post.excerpt }}</p>
                </div>
                <p class="card-text text-muted h6">{{ post.created_on }}
                    <hr>
                <i class="far fa-heart likes pb-3"></i>
                {{ post.number_of_likes }}
                <i class="fas fa-comments comment"></i>
                {{ comment.comment_count }}
            </div>
        </div>
    </div>
</div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}


<!-- Paginated posts-->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_pervious %}
        <li><a href ="?page=={{ page_obj.pervious_page_number }}" class="page-link">&laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href ="?page=={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</div>
{% endblock content %}