{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- List of the post add by users -->
<div class="container col-11">
    <div class="row">
        <div class="col text-center mt-5 mb-3 pt-3">
            <h2><span>Recipes</span></h2>
        </div>
    </div>
</div>
<!-- Recipe cards -->
<div clas="card-body">
    <div class="row">
        {% for post in post_list %} 
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card md-3 recipe-card">
                   <a href="{% url 'recipe' post.slug %}" class="text-decoration-none fw-bold">
                <div class="card-body text-center ">
                    <h3 class="card-title">
                        {{ post.title }}  
                    </h3>
                    <img class="card-img" src="{{ post.featured_image.url }}">
                    <div class="card-body">
                        <p class="card-text font-weight-bold"> {{ post.excerpt }}</p>
                    </div>
                    
                        <i class="far fa-heart likes pb-3"></i>
                        {{ post.number_of_likes }}
                        <br>
                        <i class="fas fa-comments comment"></i>
                        {{ comment.comment_count }}
                    <div class="card-footer mt-3 border-0">
                        <p class="card-text text-muted h6">{{ post.created_on }}  
                     </div>    
                
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}