{% extends "base.html" %}

{% block content %}
<div class="contact-container">
    <div class="contact-box">
        <div class="contact-img"></div>
        <div class="contact-form-box">
            <h2><span>Contact Us</span></h2>
            <hr>
            <p class="contact-text">
                Having a problem... Please get in touch, I'd be pleased to respond to your 
                inquiries and hear your comments and recommendations.
            </p>
            <form id="contact-form">
                {% csrf_token %}
                <input for="name"type="text" name="name" placeholder="Name" required>
                <input type="text" for="email" name="email" placeholder="Email address" required>
                <textarea name="textare" id="text-area" cols="20" rows="10" placeholder="Your Message please"  required></textarea>
                <button type="submit" name="submit button" value="Send">Send</button>
            </form>

        </div>
    </div>
</div>
{% endblock content %}
<script>

// Contact us EmailJS from https://www.emailjs.com/docs/tutorial/creating-contact-form //
emailjs.init('VdTBCASn-iVtZo3xC');
emailjs.sendForm('abakes', 'cabakes-template', this)

window.onload = function() {
    document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault();
        // generate a five digit number for the contact_number variable
        this.contact_number.value = Math.random() * 100000 | 0;
        // these IDs from the previous steps
        emailjs.sendForm('contact_service', 'contact_form', this)
            .then(function() {
                console.log('SUCCESS!');
            }, function(error) {
                console.log('FAILED...', error);
            });
    });
}
</script>
