{% extends "base.html" %}{% block content %}
{% load crispy_forms_tags %}


<div class="recipe-hero-continer">
   <div class="welcome-image">
        <!--Welcoming feature images -->
        {% if "blog_image" in post.featured_image.url  %}
        <img src="" width="50%">
        {% else %}
        <img src="{{ post.featured_image.url }}" width="50%" class="d-flex justify-md-center">
        {% endif %}
           <!--Recipe heading -->
        <h1 class="recipe-title">{{ post.title }}</h1>
        <div>
             <!-- Number of Likes -->
            <span class="like-comment-icon"><i class="far fa-heart"></i>
                {{ post.number_of_likes }}
            </span>
            <!-- Number of comments -->
            <span>
                 {% with comments.count as total_comments %}
                <strong class="like-comment-icon"><i class="far fa-comments"></i>
                    {{ total_comments }}
                </strong>
            {% endwith %} 
            </span>
        </div>
   </div>
   <hr class="recipe-hr">
    <div class="recipe-container">
        <!-- Ingredient for the recipe -->
        <div class="ingredient-continer">
            <p class="card-text">
            {{ post.ingredient_content | safe }}
            </p>
        </div>
    <div class="recipe-image">
        <!-- Images -->
        {% if "blog_image" in post.featured_image.url  %}
        <img src="#" width="100%">
        {% else %}
        <img src="{{ post.featured_image2.url }}" width="50%" height="30%" class="d-flex justify-md-center">
        {% endif %}
    </div>
     <!-- Instruction for the recipe -->
     <hr>
    <div class="instruction-continer">
        <p class="card-text">
           
            {{ post.instruction_content | safe }}
        </p>
    </div>
    <div class="recipe-image">
        <!-- Images -->
        {% if "blog_image" in post.featured_image.url  %}
        <img src="#" width="100%">
        {% else %}
        <img src="{{ post.featured_image3.url }}" width="50%" class="d-flex justify-md-center">
        {% endif %}
    </div>
    <!-- Number of likes -->
    <div class="row">
        <div class="col-1">
            <strong>
                {%  if user.is_authenticated %}
                <form class="d-inline"  action="{% url 'post_like' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost-id" value="{{post.slug}}" class="like-btn">
                        <i class="fas fa-heart"></i>
                    </button> 
                    {% else %}
                    <button type="submit" name="blogpost-id" value="{{post.slug}}" class="like-btn">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %} 
                </form>
                {%  else %}
                <span class="like-comment-icon"><i class="far fa heart"></i>
                {% endif %}

            </strong>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8 card md-4 mt-3">
        <h3>Comments:</h3>
        <div class="comments-body">
            {% for comments in commts %}
            <div class="comments" style="padding:10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class="text-muted font=weighht-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card md-4 mt-3">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is being reviewed, I appreciate your patience.Thank you 
            </div>
            {% else %}

            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top:1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="@btn btn-signup btl-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}